[submodule "gitignore_github"]
	path = gitignore_github
	url = https://github.com/github/gitignore.git
[submodule "oh-my-git"]
	path = oh-my-git
	url = https://github.com/pdostal/oh-my-git.git
[submodule "atom/packages/color-picker"]
	path = atom/packages/color-picker
	url = git@github.com:thomaslindstrom/color-picker.git
[submodule "atom/packages/gitignore-snippets"]
	path = atom/packages/gitignore-snippets
	url = git@github.com:jefkoslowski/gitignore-snippets.git
[submodule "atom/packages/language-latex"]
	path = atom/packages/language-latex
	url = git@github.com:area/language-latex.git
[submodule "atom/packages/atom-latex"]
	path = atom/packages/latex
	url = git@github.com:thomasjo/atom-latex.git
[submodule "atom/packages/Atom-Localization"]
	path = atom/packages/localization
	url = git@github.com:pandarison/Atom-Localization.git
[submodule "atom/packages/merge-conflicts"]
	path = atom/packages/merge-conflicts
	url = git@github.com:smashwilson/merge-conflicts.git
[submodule "atom/packages/atom-project-manager"]
	path = atom/packages/project-manager
	url = git@github.com:danielbrodin/atom-project-manager.git
[submodule "atom/packages/project-quick-open"]
	path = atom/packages/project-quick-open
	url = git@github.com:chuckhendo/project-quick-open.git
[submodule "atom/packages/atom-script"]
	path = atom/packages/script
	url = git@github.com:rgbkrk/atom-script.git
[submodule "atom/packages/atom-codeship-status"]
	path = atom/packages/codeship-status
	url = git@github.com:codeship/atom-codeship-status.git
[submodule "atom/packages/compile-coffee"]
	path = atom/packages/compile-coffee
	url = git@github.com:pdostal/atom-compile-coffee.git
[submodule "atom/packages/tabs-to-spaces"]
	path = atom/packages/tabs-to-spaces
	url = git@github.com:lee-dohm/tabs-to-spaces.git
[submodule "atom/packages/git-log"]
	path = atom/packages/git-log
	url = git@github.com:NikhilKalige/git-log.git
[submodule "atom/packages/waketime"]
	path = atom/packages/waketime
	url = git@github.com:wakatime/atom-wakatime.git
[submodule "atom/packages/wakatime"]
	path = atom/packages/wakatime
	url = git@github.com:wakatime/atom-wakatime.git
