"*":
  "exception-reporting":
    userId: "86d272c9-62c0-cac1-75a9-ac91babfeb7c"
  welcome:
    showOnStartup: false
  autosave:
    enabled: true
  localization:
    CurrentLanguage: "Default"
  script:
    escapeConsoleOutput: false
  editor:
    fontSize: 14
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  latex: {}
  "tabs-to-spaces":
    onSave: "untabify"
  "git-diff":
    showIconsInEditorGutter: true
