'Empty':
  'title': 'Empty'
  'paths': [
    null
  ]
'pdostal.cz':
  'title': 'pdostal.cz'
  'paths': [
    '/Users/pavel/www/pdostal.cz'
  ]
'ubuntuserver':
  'title': 'ubuntuserver'
  'paths': [
    '/Users/pavel/repos/ubuntuserver'
  ]
'cfg':
  'title': 'cfg'
  'paths': [
    '/Users/pavel/cfg'
  ]
'ceska braillska tabulka':
  'title': 'ceska braillska tabulka'
  'paths': [
    '/Users/pavel/repos/ceska braillska tabulka'
  ]
'trandir':
  'title': 'trandir'
  'paths': [
    '/Users/pavel/www/trandir'
  ]
'24pullrequests':
  'title': '24pullrequests'
  'paths': [
    '/Users/pavel/www/24pullrequests'
  ]
'server-settings':
  'title': 'server-settings'
  'paths': [
    '/Users/pavel/server/settings'
  ]
'symbols':
  'title': 'symbols'
  'paths': [
    '/Users/pavel/tex/upce/symbols'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/pavel/dotfiles'
  ]
'vagrantcookbook nginx php fpm ansible':
  'title': 'vagrantcookbook nginx php fpm ansible'
  'paths': [
    '/Users/pavel/repos/vagrantcookbook/examples_provisioning/ansible'
  ]
'REA web':
  'title': 'REA web'
  'paths': [
    '/Users/pavel/rea/web'
  ]
'markdown-styleguide':
  'title': 'markdown-styleguide'
  'paths': [
    '/Users/pavel/repos/markdown-styleguide'
  ]
'commitcoffee':
  'title': 'commitcoffee'
  'paths': [
    '/Users/pavel/www/commitcoffee'
  ]
'REA admin':
  'title': 'REA admin'
  'paths': [
    '/Users/pavel/rea/admin'
  ]
'REA node':
  'title': 'REA node'
  'paths': [
    '/Users/pavel/rea/node'
  ]
'opensit':
  'title': 'opensit'
  'paths': [
    '/Users/pavel/www/opensit'
  ]
'cheatly':
  'title': 'cheatly'
  'paths': [
    '/Users/pavel/repos/cheatly'
  ]
'issuehub.io':
  'title': 'issuehub.io'
  'paths': [
    '/Users/pavel/www/issuehub.io'
  ]
'bin':
  'title': 'bin'
  'paths': [
    '/Users/pavel/bin'
  ]
'github-copywriter':
  'title': 'github-copywriter'
  'paths': [
    '/Users/pavel/repos/github-copywriter'
  ]
'rstat.us':
  'title': 'rstat.us'
  'paths': [
    '/Users/pavel/www/rstat.us'
  ]
'mentoring.io':
  'title': 'mentoring.io'
  'paths': [
    '/Users/pavel/www/mentoring.io'
  ]
'goalball.cz':
  'title': 'goalball.cz'
  'paths': [
    '/Users/pavel/www/wordpress/wp-content/themes/goalball.cz'
  ]
'ansible-examples wordpress-nginx':
  'title': 'ansible-examples wordpress-nginx'
  'paths': [
    '/Users/pavel/repos/ansible-examples/wordpress-nginx'
  ]
'server-userspace':
  'title': 'server-userspace'
  'paths': [
    '/Users/pavel/server/userspace'
  ]
'kddapi':
  'title': 'kddapi'
  'paths': [
    '/Users/pavel/www/kddapi'
  ]
'server zones':
  'title': 'server zones'
  'paths': [
    '/Users/pavel/server/zones'
  ]
'rea api':
  'title': 'rea api'
  'paths': [
    '/Users/pavel/rea/api'
  ]
'nodeschool javascripting':
  'title': 'nodeschool javascripting'
  'paths': [
    '/Users/pavel/www/javascripting'
  ]
'pinger':
  'title': 'pinger'
  'paths': [
    '/Users/pavel/www/pinger'
  ]
'vagrants':
  'title': 'vagrants'
  'paths': [
    '/Users/pavel/vagrants'
  ]
'rea app':
  'title': 'rea app'
  'paths': [
    '/Users/pavel/rea/app'
  ]
'server sudo':
  'title': 'server sudo'
  'paths': [
    '/Users/pavel/server/sudo'
  ]
