'.source.tex':
  'begin.itemize':
    'prefix': 'itemize'
    'body': """
      \begin{itemize}
        \item
      \end{itemize}
    """

'.source.tex':
  'begin.enumerate':
    'prefix': 'enumerate'
    'body': """
      \begin{enumerate}
        \item
      \end{enumerate}
    """
